{% comment %}
  Accepts:
  - title: {String} Container class (required)
  - container: {String} Container class. Default: 'container-fluid' (optional)
  - extra_classes: {String} Extra classes (optional)
  - text_alignment: {String} Text alignment. Default: 'center' (optional)
  - size: {String} Accepted value: medium, large. Default: 'medium' (optional)
  - justify: {String} Breadcrumb justify content. Default: 'center' (optional)
  - show_breadcrumb: {Boolean} Show breadcrumb. Default: true (optional)
  - breadcrumb_layout: {String} Breadcrumb layout. Accepted values: 'outside', 'outside_no_border', 'inside', 'none'. Default: 'outside' (optional)

  Usage:
  {% render 'page-title', title: page.title %}
  {% render 'page-title', title: page.title, breadcrumb_layout: 'inside' %}
{% endcomment %}

{%- liquid
  if container != nil and container == 'w-full'
    assign container = 'container-full'
  endif
  if container == nil
    assign container = 'container-fluid'
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
  endif

  assign text_alignment = text_alignment | default: 'center'

  if breadcrumb_layout == nil or breadcrumb_layout == blank
    assign breadcrumb_layout = 'outside'
  endif

  if breadcrumb_layout == 'none'
    assign show_breadcrumb = false
  else
    if show_breadcrumb == nil
      assign show_breadcrumb = true
    endif
  endif

  if breadcrumb_justify == nil
    if text_alignment == 'center'
      assign breadcrumb_justify = 'center'
    elsif text_alignment == 'right'
      assign breadcrumb_justify = 'end'
    else
      assign breadcrumb_justify = 'start'
    endif
  endif

  assign template_name = template.name | handle

  assign classes = 'm-page-header m-page-header--template-' | append: template_name
  if size != nil
    assign classes = classes | append: ' m-page-header--' | append: size
  endif

  assign classes = classes | append: ' m:text-' | append: text_alignment

  assign classes = classes | append: ' m-page-header--breadcrumb-' | append: breadcrumb_layout

  if extra_classes != nil
    assign classes = classes | append: ' ' | append: extra_classes
  endif
-%}
{% if title != nil %}
  <style>
    .m-page-header--breadcrumb-outside .m-page-header__breadcrumb-outer {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }
    .m-page-header--breadcrumb-outside .m-page-header__breadcrumb-wrapper {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .m-page-header--breadcrumb-outside_no_border .m-page-header__breadcrumb-wrapper {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .m-page-header--breadcrumb-inside {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }
    .m-page-header--breadcrumb-inside .m-page-header__breadcrumb-wrapper {
      padding-top: 4px;
      padding-bottom: 0;
    }
    .m-page-header--breadcrumb-none {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }
    .container-fluid h1{
      padding-bottom: 26px;
    }
  </style>
  <div class="{{ classes }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
    {% if breadcrumb_layout == 'inside' and show_breadcrumb %}
      <div class="m-page-header__breadcrumb-wrapper {{ container }}">
        {% render 'breadcrumb',
          container: container,
          justify: breadcrumb_justify,
          animated: false,
          animation_effect: 'none'
        %}
      </div>
    {% endif %}
    <div class="m-page-header__title-wrapper container-fluid {{ container }}">
      <h1 class="m-page-header__title">{{ title }}</h1>
      {% if description %}<div class="m-page-header__description rte">{{ description }}</div>{% endif %}
    </div>
    {% if breadcrumb_layout == 'outside' or breadcrumb_layout == 'outside_no_border' %}
      {% if show_breadcrumb %}
        <div class="m-page-header__breadcrumb-outer">
          <div class="m-page-header__breadcrumb-wrapper {{ container }}">
            {% render 'breadcrumb',
              container: container,
              justify: 'start',
              animated: false,
              animation_effect: 'none'
            %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

